<style type="text/css">
	*{
	    font-family: 'Ubuntu', sans-serif;
	}
	.student-details{
		margin-left: 70px;
		font-size: 20px;
	}
	.score{
		margin-left: 10px;
		margin-right: 10px;
	}
	.attendance{
		margin: 10px;
	}
</style>
<div class="container bg-info p-5">
  <div style="padding: 15px; background-color: white;">
    <a href="/admin/dashboard"> Admin Dashboard</a>
  </div>
</div>
{{# student }}
<div style="text-align: center;">
	<h4>Check Student Result</h4>
	<form action="/admin/search-result" method="POST" >
		<input name="student_id" value="{{_id}}" hidden>
		<select required name="year">
			<option name="year">Select Term and Session</option>
	        <option name="year">2019/2020 1st Term</option>
	        <option name="year">2019/2020 2nd Term</option>
	        <option name="year">2019/2020 3rd Term</option>
	        <option name="year">2020/2021 1st Term</option>
	        <option name="year">2020/2021 2nd Term</option>
	        <option name="year">2020/2021 3rd Term</option>
	        <option name="year">2021/2022 1st Term</option>
	        <option name="year">2021/2022 2nd Term</option>
	        <option name="year">2021/2022 3rd Term</option>
	    </select>
	    <button type="submit" class="btn btn-success">Search</button>
	</form>
</div>
<div class="student-details">
	<p>Name : {{ fullname }} </p>
	<p>Class : {{ class }} </p>
</div>
<h2 class="student-details">Enter Results</h2>
<form id="myForm" action="/admin/add-result" method="POST">
<div class="container">
	<div class="row">
		<div class="col-md-4">
	          <select required name="year">
                <option name="year">2019/2020 1st Term</option>
                <option name="year">2019/2020 2nd Term</option>
                <option name="year">2019/2020 3rd Term</option>
                <option name="year">2020/2021 1st Term</option>
                <option name="year">2020/2021 2nd Term</option>
                <option name="year">2020/2021 3rd Term</option>
                <option name="year">2021/2022 1st Term</option>
                <option name="year">2021/2022 2nd Term</option>
                <option name="year">2021/2022 3rd Term</option>
              </select>
	          <!-- <button type="submit">Submit</button> -->
		</div>
		<div class="col-md-4">
			<small>select subject to add</small>
			<select id="class">
                <option>English</option>
                <option>Mathematics</option>
                <option>Basic-Science</option>
                <option>Basic-Technology</option>
                <option>Christian-Religious-Knowledge</option>
                <option>Home-Economics</option>
                <option>Social-Studies</option>
                <option>Number-Work</option>
                <option>Letter-Work</option>
            </select>
            <button id="add_subject" type="button">Add Subject</button>
		</div>
		<div class="col-md-4">
			<button id="attendance_remarks" type="button">Add Attendance and Remarks</button>
		</div>
	</div>
	<div style="margin-top: 10px" class="row">
		<div class="col-md-12">
			<div id="add_result">
				
			</div>
		</div>
	</div>
	<div style="margin-top: 10px" class="row">
		<div class="col-md-6">
			<div id="add_remarks">
				
			</div>
		</div>
		<div class="col-md-6">
			<div id="add_attendance">
				
			</div>
		</div>
	</div>
	<input id="subjects" name="subjects" value="" hidden>
	<input id="ca_scores" name="ca_scores" value="" hidden>
	<input id="exam_scores" name="exam_scores" value="" hidden>
	<input id="totals" name="totals" value="" hidden>
	<input name="student_id" value="{{_id}}" hidden>
</div>
</form>
{{/student}}
<script type="text/javascript">
	$(document).ready(function() {
		let subjects = []
		let ca_scores = []
		let exam_scores = []
		let totals = []
		$('#add_subject').click(function(){
			let selected_class = $( "#class option:selected" ).text();
			subjects.push(selected_class)
			console.log(subjects)
			$('#add_result').append("<p class='score'>" + selected_class + "</p>" + "<input max='40' id='ca"+selected_class+"' class='score' type='text' placeholder='Enter CA Score'>" + "<input max='60' id='exam"+selected_class+"' class='score' type='text' placeholder='Enter Exam Score'>" + "<input id='total"+selected_class+"' class='score' type='text' placeholder='Enter Total' disabled>" + "<button id='add_score"+selected_class+"' type='button'>Add Score</button>");
			let btn_id = 'add_score'+selected_class
			// Still fixing some bugs here
			$('#' + btn_id).click(function(){
				var ca_id = 'ca'+selected_class;
				var exam_id = 'exam'+selected_class;
				var total_id = 'total'+selected_class;
				let ca_score = $('#'+ca_id).val();
				let exam_score = $('#'+exam_id).val();
				let total = parseInt(ca_score, 10) + parseInt(exam_score, 10);
				$('#' + total_id).val(total)
				ca_scores.push(ca_score)
				exam_scores.push(exam_score)
				totals.push(total)
				console.log(ca_scores, exam_scores, totals);
				selected_class = null;
			})
		})
		$('#attendance_remarks').click(function(){
			$('#add_remarks').append("<h3>Add Remarks</h3>" + "<textarea rows='4' name='remarks' cols='40' required></textarea>")
			$('#add_attendance').append("<h3>Add Attendance</h3>" + "<input class='attendance' name='school_opened' type='text' id='days_opened' placeholder='Days School Opened' required>" + "<input class='attendance' type='text' id='days_present' name='days_present' placeholder='Days Student is Present' required>" + "<input id='days_absent' name='days_absent' class='attendance' type='text' placeholder='Days Student is Absent' required>" + "<button id='submit_result' class='btn btn-info attendance' type='submit'>Submit Result</button>")
			$('#submit_result').click(function(){
				document.getElementById('subjects').value = subjects;
				document.getElementById('ca_scores').value = ca_scores;
				document.getElementById('exam_scores').value = exam_scores;
				document.getElementById('totals').value = totals;
			})
		})
	})
</script>
