<style type="text/css">
	*{
	    font-family: 'Ubuntu', sans-serif;
	}
</style>
<div class="container bg-info p-5">
  <div style="padding: 15px; background-color: white;">
    <a href="/admin/results"> Student Results</a>
  </div>
</div>
<div class="container" style="margin-top: 10px;">
	<h2 style="text-align: center;">Students Results Page - Manage Students Result Here</h2>
	<div class="row">
		<div class="col-sm-4">
			<form action="/action_page.php">
		      <input type="text" placeholder="Search for Student" name="search">
		      <button type="submit">Submit</button>
		    </form>
		</div>
		<div class="col-sm-4">
			
		</div>
		<div class="col-sm-4">
			
		</div>
	</div>
</div>